*{
    border-color: #FFF,;
}
h2, h3{
    color: black;
}
p {
    color:rgb(0, 0, 0);
}
#brown-background-header{
    background-color: hsl(0,8%,38%);
}
.pink-body{
    background-color: rgba(255, 120, 120, .9);
    background-color: rgb(248, 245, 245);
}
a[href="https://github.com/Ruzhuang"]{
    background-color:#FFFFFF;
    color: brown;
}
/* mouse over link */
a:hover {
    color: #FF00FF;
}
/* click link */
a:active {
    color: hsla(0,8%,38%,0.9);
}
p::first-letter{
    color: black;
}
body p{
    color: black;
}
body>p{
    color: black;
}
h1 + h2{
    color: black;
}
h1 ~ h2{
    color: black;
    border-style: dashed;
    border-width: 1vmax;
    border-radius: 1vw;
    border-color: hsl(0,8%,38%);
    font-size: 6mm;
    text-align: center;
    text-decoration: underline;
    font-family: 'Potta One', cursive;


}
h3.first-h3{
    color: black;
    border-style: dashed;
    border-color: royalblue;
    border-width: 0.1rem;
    border-radius: 100pt;
    font-size: 20px;
}
#div-box1 {
    position: relative;
    left: 20px;
    background-color: lightgrey;
    width: 600px;
    border: 15px solid green;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }


#div-box2 {
    position: static;
    width: auto;
    height: 100px;
    border: 3px solid skyblue;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 20px 5px;
    display: block;
  }

#do-not-display {
    display:none;
}

#to-be-filled{
    width:80%;
    max-width: 800px;
    min-width: 600px;
}

@media only screen and (max-width: 600px) {
    video {
      display: none;
    }
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
}

.grid-container > div{
    background-color: skyblue;
}

#second{
    grid-column-end: span 2;
    background-color: slategrey;
}